# Basic operations

In [1]:
# Numbers
10 + 4          # add (returns 14)
10 - 4          # subtract (returns 6)
10 * 4          # multiply (returns 40)
10 ** 4         # exponent (returns 10000)
5 % 4           # modulo (returns 1) - also known as the remainder
10 / 4          # true division (returns 2.5)
10 // 4         # floor division (returns 2)

2

In [5]:
2**4 #something else

16

In [1]:
10+6

16

In [3]:
2*4

8

In [5]:
6%4

2

In [5]:
6//4

1

In [4]:
6/4

1.5

# Variables

In [6]:
a = 12

In [7]:
print(a)

12

In [1]:
#python is case sensitive
print(A)

NameError: name 'A' is not defined

In [7]:
x = 5
y = 10

In [13]:
x=4.4

In [10]:
X=5

In [11]:
X

5

In [14]:
x

4.4

In [8]:
print(x - y)

-5

In [15]:
name ="marcello"

In [16]:
print(name)

marcello

In [13]:
x = "John"
# is the same as
x = 'John'

In [14]:
# wrong
2myvar = "John"
my-var = "John"
my var = "John"

SyntaxError: invalid decimal literal (57478480.py, line 2)

In [15]:
x, y, z = "Orange", "Banana", "Cherry"
print(x)
print(y)
print(z)

Orange
Banana
Cherry

#
# Assignment Operators

Assignment operators are used to assign values to variables:

In [17]:
x = 5   # x = 5

In [18]:
x = x + 3

In [19]:
x

8

In [20]:
x += 3  # x = x + 3

In [17]:
x -= 3  # x = x - 3 
x *= 3  # x = x * 3 
x /= 3  # x = x / 3 
x %= 3  # x = x % 3 
x //= 3 # x = x // 3 
x **= 3 # x = x ** 3

#
# Data types

Variables can store data of different types, and different types can do different things.

In [27]:
x = True

In [28]:
type(x)

bool

In [29]:
x = 10

In [30]:
str(x)

'10'

In [22]:
y = "John"

In [23]:
print(x + y)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [24]:
x = 5
y = "John"
print(x, y)

5 John

In [25]:
type('stringa')

str

In [20]:
# determine the type of an object

type(2)         # returns 'int'
type(2.0)       # returns 'float'
type('two')     # returns 'str'
type(True)      # returns 'bool'
type(None)      # returns 'NoneType'

NoneType

In [21]:
# + more types as complex, binary

In Python, the data type is set when you assign a value to a variable:

In [26]:
x = 20.5
type(x)

float

If you want to specify the data type, you can use the following constructor functions:

In [23]:
float(2)
int(2.9) #constructs an integer number from an integer literal, a float literal (by removing all decimals), or a string literal (providing the string represents a whole number)
str(2.9)

'2.9'

In [27]:
x = str(20.5)
type(x)

str

In [28]:
x

'20.5'

#
##  Python Collections (Arrays)

There are four collection data types in the Python programming language:

- List is a collection which is ordered and changeable. Allows duplicate members.
- Tuple is a collection which is ordered and unchangeable. Allows duplicate members.
- Set is a collection which is unordered, unchangeable*, and unindexed. No duplicate members.
- Dictionary is a collection which is ordered** and changeable. No duplicate members.

#
## Lists

Lists are used to store multiple items in a single variable.

List: Different objects categorized along a certain ordered sequence, lists
are ordered, iterable, mutable (adding or removing objects changes the
list size), can contain multiple data types.

Lists are created using square brackets: []

In [31]:
mylist = ['marcello', 1, 2, 3]

In [33]:
print(mylist)

['marcello', 1, 2, 3]

In [36]:
mylist[-1]

3

In [31]:
# create an empty list (two ways)
empty_list = [1, 2]

In [32]:
empty_list

[1, 2]

In [34]:
empty_list = list([1, 2])

In [35]:
empty_list

[1, 2]

In [37]:
# create a list
simpsons = ['homer', 'marge', 'bart']

In [38]:
simpsons

['homer', 'marge', 'bart']

In [39]:
# create a list
simpsons = ['homer', 'homer', 'marge', 'bart', 1, 'bob']
print(simpsons)

['homer', 'homer', 'marge', 'bart', 1, 'bob']

In [42]:
# Access Items
# List items are indexed and you can access them by referring to the index number:
simpsons[2]

'marge'

In [43]:
simpsons[-1]

'bob'

In [44]:
len(simpsons)

6

In [45]:
# modify a list (does not return the list)
simpsons.append('lisa')                 # append element to end
simpsons

['homer', 'homer', 'marge', 'bart', 1, 'bob', 'lisa']

In [46]:
simpsons.extend(['itchy', 'scratchy'])  # append multiple elements from another list to end
simpsons

['homer', 'homer', 'marge', 'bart', 1, 'bob', 'lisa', 'itchy', 'scratchy']

In [47]:
simpsons.insert(0, 'maggie')            # insert element at index 0 (shifts everything right)
simpsons

['maggie',
 'homer',
 'homer',
 'marge',
 'bart',
 1,
 'bob',
 'lisa',
 'itchy',
 'scratchy']

In [48]:
simpsons.remove('bart')                 # searches for first instance and removes it

In [49]:
simpsons

['maggie', 'homer', 'homer', 'marge', 1, 'bob', 'lisa', 'itchy', 'scratchy']

In [50]:
simpsons.pop(0)                         # removes element 0 and returns it

'maggie'

In [13]:
del simpsons[0]                         # removes element 0 (does not return it)

In [52]:
simpsons

['homer', 'homer', 'marge', 1, 'bob', 'lisa', 'itchy', 'scratchy']

In [53]:
simpsons[0] = 'krusty'                  # replace element 0

In [54]:
simpsons

['krusty', 'homer', 'marge', 1, 'bob', 'lisa', 'itchy', 'scratchy']

In [55]:
# concatenate lists (slower than 'extend' method)
neighbors = simpsons + ['ned','rod','todd']

In [56]:
neighbors

['krusty',
 'homer',
 'marge',
 1,
 'bob',
 'lisa',
 'itchy',
 'scratchy',
 'ned',
 'rod',
 'todd']

In [57]:
simpsons

['krusty', 'homer', 'marge', 1, 'bob', 'lisa', 'itchy', 'scratchy']

In [58]:
# find elements in a list
'lisa' in simpsons

True

In [59]:
simpsons.count('lisa')      # counts the number of instances

1

In [60]:
simpsons.index('itchy')     # returns index of first instance

6

In [62]:
# list slicing [start:end:stride]
weekdays = ['mon','tues','wed','thurs','fri']

In [64]:
weekdays[1]         # element 0

'tues'

In [67]:
weekdays[1:3]       # elements 0, 1, 2

['tues', 'wed']

In [66]:
weekdays[:3]        # elements 0, 1, 2

['mon', 'tues', 'wed']

In [68]:
weekdays[3:]        # elements 3, 4

['thurs', 'fri']

In [70]:
weekdays[-2]        # last element (element 4)

'thurs'

'fri'

In [74]:
weekdays[::3]       # every 2nd element (0, 2, 4)

['mon', 'thurs']

In [72]:
weekdays[::-1]      # backwards (4, 3, 2, 1, 0)

['fri', 'thurs', 'wed', 'tues', 'mon']

In [93]:
# alternative method for returning the list backwards
list(reversed(weekdays))

['fri', 'thurs', 'wed', 'tues', 'mon']

In [76]:
# create a second reference to the same list
num = [1, 2, 3, 8, 7, 6, 5, 4]

In [77]:
# sort a list in place (modifies but does not return the list)
num.sort()

In [79]:
num.sort(reverse=True)     # sort in reverse

In [80]:
num

[8, 7, 6, 5, 4, 3, 2, 1]

In [100]:
# return a sorted list (but does not modify the original list)
sorted(num)

[0, 2, 3, 4, 5, 6, 7, 8]

In [81]:
num

[8, 7, 6, 5, 4, 3, 2, 1]

In [82]:
same_num = num

In [83]:
same_num[0] = 0         # modifies both 'num' and 'same_num'

In [84]:
num

[0, 7, 6, 5, 4, 3, 2, 1]

You cannot copy a list simply by typing list2 = list1, because: list2 will only be a reference to list1, and changes made in list1 will automatically also be made in list2.

In [103]:
# copy a list (three ways)

new_num = num.copy()
new_num = num[:]
new_num = list(num)

In [104]:
[2]*3

[2, 2, 2]

#
## Tuples

Like lists, but their size cannot change: ordered, iterable, immutable,
can contain multiple data types

In [37]:
# create a tuple
digits = (0, 1, 'two')          # create a tuple directly
digits = tuple([0, 1, 'two'])   # create a tuple from a list
zero = (0,)                     # trailing comma is required to indicate it's a tuple

In [107]:
# examine a tuple
digits[2]           # returns 'two'
len(digits)         # returns 3
digits.count(0)     # counts the number of instances of that value (1)
digits.index(1)     # returns the index of the first instance of that value (1)

1

In [38]:
# elements of a tuple cannot be modified
digits[2] = 2       # throws an error

TypeError: 'tuple' object does not support item assignment

In [ ]:
# concatenate tuples
digits = digits + (3, 4)

In [ ]:
# create a single tuple with elements repeated (also works with lists)
(3, 4) * 2          # returns (3, 4, 3, 4)

In [ ]:
# tuple unpacking
bart = ('male', 10, 'simpson')  # create a tuple

#
## Strings

A sequence of characters, they are iterable, immutable


Strings in python are surrounded by either single quotation marks, or double quotation marks.

'hello' is the same as "hello".

In [39]:
# create a string
s = str(42)         # convert another data type into a string
s

'42'

In [49]:
s = 'I like you'
print(s)

I like you

In [89]:
# examine a string

In [40]:
s = 'qualcosa'

In [41]:
s[0]                # returns 'I'

'q'

In [42]:
len(s)              # returns 10

8

In [92]:
# string slicing like lists
s[:6]               # returns 'I like'

'I like'

In [ ]:
s[7:]               # returns 'you'
s[-1]               # returns 'u'

In [43]:
# basic string methods (does not modify the original string)
s.lower()           # returns 'i like you'

'qualcosa'

In [44]:
s.upper()           # returns 'I LIKE YOU'

'QUALCOSA'

In [46]:
s.startswith('q')   # returns True

True

In [ ]:
s.endswith('you')   # returns True
s.isdigit()         # returns False (returns True if every character in the string is a digit)
s.find('like')      # returns index of first occurrence (2), but doesn't support regex
s.find('hate')      # returns -1 since not found

In [48]:
'qua' in s

True

In [50]:
s.replace('like','hate')    # replaces all instances of 'like' with 'hate'

'I hate you'

In [51]:
s

'I like you'

In [52]:
# split a string into a list of substrings separated by a delimiter
s.split('/')        # returns ['I','like','you']

['I', 'like', 'you']

In [ ]:
s.split()           # same thing
s2 = 'a, an, the'
s2.split(',')       # returns ['a',' an',' the']

In [ ]:
# join a list of strings into one string using a delimiter
stooges = ['larry','curly','moe']
' '.join(stooges)   # returns 'larry curly moe'

In [ ]:
# concatenate strings
s3 = 'The meaning of life is'
s4 = '42'
s3 + ' ' + s4       # returns 'The meaning of life is 42'

s3 + ' ' + str(42)  # same thing

In [ ]:
# remove whitespace from start and end of a string
s5 = '  ham and cheese  '
s5.strip()          # returns 'ham and cheese'

In [ ]:
# string substitutions: all of these return 'raining cats and dogs'
'raining %s and %s' % ('cats','dogs')                       # old way
'raining {} and {}'.format('cats','dogs')                   # new way
'raining {arg1} and {arg2}'.format(arg1='cats',arg2='dogs') # named arguments

In [98]:
# string formatting
# more examples: http://mkaz.com/2012/10/10/python-string-format/
'pi is {:.2f}'.format(3.14159)      # returns 'pi is 3.14'

'pi is 3.14'

## Strings 2/2

Normal strings allow for escaped characters

In [30]:
s = """I 
like 
you"""
print(s)

I
like
you

In [29]:
print('first line\nsecond line')

first line
second line

raw strings treat backslashes as literal characters

In [30]:
print(r'first line\nfirst line')

first line\nfirst line

Sequence of bytes are not strings, should be decoded before some operations

In [31]:
s = b'first line\nsecond line'
print(s)

print(s.decode('utf-8').split())

b'first line\nsecond line'
['first', 'line', 'second', 'line']

#
## Dictionaries

Dictionaries are structures which can contain multiple data types, and
is ordered with key-value pairs: for each (unique) key, the dictionary
outputs one value. 

Keys can be strings, numbers, or tuples, while the
corresponding values can be any Python object. Dictionaries are:
unordered*, iterable, mutable

In [109]:
# create an empty dictionary (two ways)
empty_dict = {}
empty_dict = dict()

In [59]:
# create a dictionary (two ways)
family = {'dad':[1,2,3] , 'mom':'marge', 'size':6}
#family = dict(dad='homer', mom='marge', size=6)
family

{'dad': [1, 2, 3], 'mom': 'marge', 'size': 6}

In [111]:
# convert a list of tuples into a dictionary
list_of_tuples = [('dad','homer'), ('mom','marge'), ('size', 6)]
family = dict(list_of_tuples)

In [112]:
# examine a dictionary
len(family)         # returns 3

3

In [54]:
family.keys()       # returns list: ['dad', 'mom', 'size']

dict_keys(['dad', 'mom', 'size'])

In [55]:
family.values()     # returns list: ['homer', 'marge', 6]

dict_values(['homer', 'marge', 6])

In [56]:
family.items()      # returns list of tuples:
                    #   [('dad', 'homer'), ('mom', 'marge'), ('size', 6)]

dict_items([('dad', 'homer'), ('mom', 'marge'), ('size', 6)])

In [60]:
family['dad']       # returns 'homer'

[1, 2, 3]

In [104]:
'mom' in family     # returns True

True

In [105]:
'marge' in family   # returns False (only checks keys)

False

In [106]:
# modify a dictionary (does not return the dictionary)
family['cat'] = 'snowball'              # add a new entry
family['cat'] = 'snowball ii'           # edit an existing entry
family

{'dad': 'homer', 'mom': 'marge', 'size': 6, 'cat': 'snowball ii'}

In [107]:
del family['cat']                       # delete an entry

In [108]:
family

{'dad': 'homer', 'mom': 'marge', 'size': 6}

In [109]:
family['kids'] = ['bart', 'lisa']       # value can be a list
family

{'dad': 'homer', 'mom': 'marge', 'size': 6, 'kids': ['bart', 'lisa']}

In [121]:
family.pop('dad')                       # removes an entry and returns the value ('homer')

'homer'

In [122]:
family.update({'baby':'maggie', 'grandpa':'abe'})   # add multiple entries
family

{'mom': 'marge',
 'size': 6,
 'kids': ['bart', 'lisa'],
 'baby': 'maggie',
 'grandpa': 'abe'}

In [123]:
# accessing values more safely with 'get'
family['mom']                       # returns 'marge'
family.get('mom')                   # same thing

'marge'

In [110]:
family.get('grandma')               # returns None

In [111]:
family.get('grandma', 'not found')  # returns 'not found' (the default)

'not found'

In [125]:
# accessing a list element within a dictionary
family['kids'][0]                   # returns 'bart'

'bart'

In [126]:
family['kids'].remove('lisa')       # removes 'lisa'

In [127]:
# string substitution using a dictionary
'youngest child is %(baby)s' % family   # returns 'youngest child is maggie'

'youngest child is maggie'

## Sets

Like dictionaries, but with unique keys only (no corresponding values).
They are: unordered, iterable, mutable, can contain multiple data types
made up of unique elements (strings, numbers, or tuples)

In [114]:
# create an empty set
empty_set = set()

In [115]:
# create a set
languages = {'python', 'r', 'java'}         # create a set directly
snakes = set(['cobra', 'viper', 'python'])  # create a set from a list

In [116]:
# examine a set
len(languages)              # returns 3

3

In [117]:
'python' in languages       # returns True

True

In [118]:
# set operations
languages & snakes          # returns intersection: {'python'}

{'python'}

In [132]:
languages | snakes          # returns union: {'cobra', 'r', 'java', 'viper', 'python'}
languages - snakes          # returns set difference: {'r', 'java'}
snakes - languages          # returns set difference: {'cobra', 'viper'}

{'cobra', 'viper'}

In [ ]:
# modify a set (does not return the set)
languages.add('sql')        # add a new element
languages.add('r')          # try to add an existing element (ignored, no error)
languages.remove('java')    # remove an element

In [ ]:
languages.discard('c')      # removes an element if present, but ignored otherwise
languages.pop()             # removes and returns an arbitrary element
languages.clear()           # removes all elements
languages.update('go', 'spark') # add multiple elements (can also pass a list or set)

In [ ]:
# get a sorted list of unique elements from a list
sorted(set([9, 0, 2, 1, 0]))    # returns [0, 1, 2, 9]

## Iterators

Cartesian product

In [66]:
import itertools

print([[x, y] for x, y in itertools.product(['a', 'b', 'c'], [1, 2])])

[['a', 1], ['a', 2], ['b', 1], ['b', 2], ['c', 1], ['c', 2]]